<h2>Playing <%= @guess.round.deck.subject %> deck!</h2>

Round: <%= @guess.round_id %><br>
Card: <%= @guess.card_id %><br>
Guess: <%= @guess.id %><br>

Question: <%= @guess.card.question %><br>
Answer: <%= @guess.card.answer %><br>

<form method="post" action="/rounds/<%= @guess.round_id %>/check_answer">
  <input type="hidden" name="guess_id" value="<%= @guess.id %>">
  <input type="text" name="answer">
  <input type="submit" value="Answer Question">
</form>

