<ul>
  <% @deck.each do |deck| %>
   <li><a href=<%= "/decks/#{ deck.id }/startround" %>><%= deck.subject %></a></li>
   <br> Created by: <%= deck.creator.username %><br>
    <% if current_user && current_user.id == deck.creator_id %>
    <a href="/decks/<%= deck.id %>/edit">Edit Deck</a>
      <form action="/decks/<%= deck.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete <%= deck.subject %> Deck">
      </form>
    <% end %>
  <% end %>
</ul>

<% if current_user %>
<a href="/decks/new">Create a new deck</a>

<% end %>
