<ul>
  <% @deck.each do |deck| %>
    <li><a href=<%= "/decks/#{ deck.id }/cards" %>><%= deck.subject %></a></li>
    <a href="/decks/<%= deck.id %>/edit">Edit Deck</a>
    <form action="/decks/<%= deck.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete <%= deck.subject %> Deck">
    </form>
  <% end %>
</ul>


<a href="/decks/new">Create a new deck</a>


